body,html{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.center-content {
  display: grid;
  place-content: center;
}

.right-align {
  display: grid;
  align-items: center;
  justify-items: end;
  
}
.left-side {
  text-align: right;
  font-size: 4vh;
}
.left-align {
  margin-top: 25vh;
  align-items: center;
  justify-items: start;
  font-size: 2vh;
  z-index: inherit;
}

.vertical-center {
  margin: 0;
  top: 50%;
}

.bgfade {
  background-color: #000000cb;
  z-index: 0;
}

.main {
  display: grid;
  height: 100vh;
  margin-left: 20vw;
  margin-right: 20vw;
  z-index: 2;
}

.container{
    width: 70%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
#scene{
    position: absolute;
    right: 10%;
    bottom: -15%;
    width: 100%;
    z-index: -3;
}

.ground{
    height: 300px;
    width: 200%;
    background: white;
    margin-top: 19%;
    margin-left: -100%
}


.header{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}


.top-info{
    margin-top: auto;
    margin: auto;
    width: 50%;
}

.title{
    font-size: 42px;
    font-weight: 100;
    line-height: 55px;
    color: #FFFFFF;
}

.info{
    font-size: 20px;
    color: #FFFFFF;
    line-height: 30px;
    margin-top: 30px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

button{
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
}
.prime-btn:hover {
    transform: scale(1.2);
  }
.sec-btn:hover {
transform: scale(1.2);
}

.prime-btn{
    width: 140px;
    height: 35px;
    color: white;
    border:2px solid #FFFFFF;
    font-weight: 100;
    box-shadow: none;
    background: transparent;
    border-radius: 999px;
    margin-top: 10px;
    transition: transform .2s;
}


.sec-btn{
    width: 140px;
    height: 35px;
    color: #FFFFFF;
    border:2px solid #FFFFFF;
    font-weight: 100;
    box-shadow: none;
    background: transparent;
    border-radius: 999px;
    transition: transform .2s;
    margin-top: 10px;
}


.top-btns{
  margin-top: 30px;
}

.top-btns .sec-btn{
  margin-right: 20px;
}
.top-btns .prime-btn{
  margin-right: 20px;
}
#particles-js{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
  bottom: 0;
  z-index: 1;
}
br {
    display: block;
    margin: 10px 0;
 }
a:link {
  color: rgb(255, 255, 255);
}
  
/* visited link */
a:visited {
  color: rgb(255, 255, 255)
}

/* mouse over link */
a:hover {
  color: #453BE8;
  cursor: pointer;
}

/* selected link */
a:active {
  color: white;
}
a:link {
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: none;
}

a {
  padding-top: 1rem;
}